<section class="my-8">
  <div class="flex flex-wrap column-gap-4 row-gap-4 justify-content-center">
    <div class="" *ngFor="let movie of movies.results">
      <p-card [header]="movie.title" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
          <img alt="poster" [src]="movieImg + movie.poster_path" />
        </ng-template>
        <p>
          {{movie.overview}}
        </p>
        <label for="">
          <strong>Fecha de lanzamiento: </strong>
          {{movie.release_date}}
        </label>
        <label for="">
          <strong>Promedio de votos: </strong>
          {{movie.vote_average}}
        </label>
        <label for="">
          <strong>Popularidad: </strong>
          {{movie.popularity}}
        </label>
        <ng-template pTemplate="footer">
          <p-button label="Ver detalle" icon="pi pi-eye" (onClick)="seeDetail(movie.id)"></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</section>